<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center;
}

div.a {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.b {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


</style>
</head>

</head>
<body bgcolor="#EE220C">

<img src="/static/bot_banner.png" width="800" height="200" class="center">


	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p style="color:white;font-size:35px;">Enter a tweet here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="5" cols="80"></textarea>
		<br/>
		<input type="submit" class="btn-info" value="PREDICT">
	</form>
		<br/>
	  </div>

	<div class="a">
		<p style="color:white;font-size:24px; text-align: center;">This detector uses a fine tuned transformer model* to predict if a suspicious looking tweet is part of a state-sponsored disinformation campaign. The detector works best when used together with a suite of other data science techniques.</p>
	</div>

		<br/>
		<br/>

		<div class="b">
		<p style="color:white;font-size:18px; text-align: center;">Built by Chua Chin Hon</p>
		<p style="color:white;font-size:18px; text-align: center;">*model used: distilbert-base-uncased</p>
	</div>


</body>
</html>
